{% extends "piggy/base_generic_no_content.html" %}

{% block title %}
    <title>{{ plan.name }} - Create a team</title>
{% endblock %}

{% block content %}

{% if err_msg %}
    <h1>Oops!</h1>
    <p><strong>{{ err_msg }}</strong></p>
{% else %}
    <h1>Creating a team</h1>
    {% if msg %}
        <p><strong>{{ msg }}</strong></p>
    {% endif %}
    <!-- Team Creation Form -->
    <form action="{% url 'piggy:create_team' plan.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <table class="table table-hover table-sm align-middle table-light">
                <thead></thead>
                <tr class="h5">
                    <td>Team name</td>
                    <td><input class="form-control" type="text" name="team_name"/></td>
                </tr>
                <tr class="h5">
                    <td>Default project</td>
                    <td>
                        <select class="form-control" name="default_project_id">
                            {% for choice in choices.all %}
                                <option value="{{choice.id}}">{{choice.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
            <div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
{% endif %}

{% endblock %}

