{% extends "piggy/base_generic_edit_add.html" %}

{% block title %}
    <title> Edit Profile - Piggy </title>
{% endblock %}

{% block content %}

<form action="{% url 'piggy:edit_profile' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <h1 class="h1">Edit Profile</h1>
        {% if msg %}
            <p><strong>{{ msg }}</strong></p>
        {% endif %}
        <table class="table table-hover table-sm align-middle table-light">
            <thead></thead>
            <tr class="align-middle">
                <td>Name</td>
                <td><input type="text" class="form-control" name="name" value="{{ uu.name }}"/></td>
            </tr>
            <tr class="align-middle">
                <td>Username</td>
                <td><input type="text" class="form-control" name="username" value="{{ uu.username }}"/></td>
            </tr>
            <tr class="align-middle">
                <td>Password</td>
                <td><input type="password" class="form-control" name="password1" value="{{ uu.password }}"/></td>
            </tr>
            <tr class="align-middle">
                <td>Confirm password</td>
                <td><input type="password" class="form-control" name="password2" value="{{ uu.password }}"/></td>
            </tr>
            <tr class="align-middle">
                <td>Email</td>
                <td><input type="text" class="form-control" name="email" value="{{ uu.email }}"></td>
            </tr>
            <tr class="align-middle">
                <td>Resume</td>
                <td><input type="text" class="form-control" name="resume" value="{{ uu.resume }}"></td>
            </tr>
        </table> 
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </fieldset>
</form>

{% endblock content %}