{% extends "piggy/base_generic_edit_add.html" %}

{% block title %}
    <title> Edit Profile - Piggy </title>
{% endblock %}

{% block content %}

<form action="{% url 'piggy:edit_project' project.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <h1 class="h1">Edit Project</h1>
        {% if message %}
            {% for msg in message %}
                <p><strong>{{ msg }}</strong></p>
            {% endfor %}
        {% endif %}
        <table class="table table-hover table-sm align-middle table-light">
            <thead></thead>
            <tr class="align-middle">
                <td class="h5">Project Name:</td>
                <td><input class="form-control" type="text" name="project_name" value="{{ project.name }}"></td>
            </tr>
            <tr class="align-middle">
                <td class="h5">Plan:</td>
                <td><a href="{% url 'piggy:plan_detail' plan.id %}">{{ plan.name }}</a> </td>
            </tr>
            <tr class="align-middle">
                <td class="h5">Teacher:</td>
                <td><a href="{% url 'piggy:teacher_detail' plan.teacher.id %}">{{ plan.teacher.name }}</a> </td>
            </tr>
            <tr class="align-middle">
                <td class="h5">Description:</td>
                <td><input class="form-control" type="text" name="project_description" value="{{ project.description }}"></td>
            </tr>
            <tr class="align-middle">
                <td class="h5">Max Group Num:</td>
                <td><input class="form-control" type="number" name="project_max_group_num" value="{{ project.max_group_num }}"></td>
            </tr>
            <tr class="align-middle">
                <td class="h5">Max Team Member Num:</td>
                <td><input class="form-control" type="number" name="project_max_team_member_num" value="{{ project.max_team_member_num }}"></td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="btn btn-danger" class="btn btn-danger" href="{% url 'piggy:del_project' project.id %}">Delete Project</a> 
    </fieldset>
</form>

{% endblock %}