{% extends "piggy/base_generic_no_content.html" %}

{% block title %}
    <title> Edit Plan - Piggy </title>
{% endblock %}

{% block content %}

<form action="{% url 'piggy:edit_plan' plan.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <h1 class="h1">Edit Plan</h1>
        {% if message %}
            {% for msg in message %}
                {% if msg != 'Infomation updated!' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="bi bi-exclamation-triangle-fill"></i><strong> {{ msg }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle-fill"></i><strong> {{ msg }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <table class="table table-hover align-middle">
            <thead></thead>
            <tr>
                <td class="h5">Plan Name</td>
                <td><input type="text" class="form-control" name="plan_name" value="{{ plan.name }}"></td>
            </tr>
            <tr>
                <td class="h5">Professor</td>
                <td><a href="{% url 'piggy:teacher_detail' plan.teacher.id %}">{{ plan.teacher }}</a></td>
            </tr>
            <tr>
                <td class="h5">Status</td>
                <td>
                    <select class="form-select" name="plan_status">
                        {% if plan.is_expired %}
                            <option value="True">Expired</option>
                            <option value="False">Running</option>
                        {% else %}
                            <option value="False">Running</option>
                            <option value="True">Expired</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="h5">Description</td>
                <td><input type="text" class="form-control" name="plan_description" value="{{ plan.description }}"></td>
            </tr>
            <tr>
                <td class="h5">
                    Included Projects
                    <a class="btn btn-success btn-sm" href="{% url 'piggy:add_project' plan.id %}"><i class="bi bi-plus-lg"></i></a>
                </td>
                <td>
                    <div class="list-group">
                        {% for project in plan.project_set.all %}
                            <a class="list-group-item list-group-item-action" href="{% url 'piggy:project_detail' project.id %}">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">
                                        {{ project.name }}
                                    </h6>
                                    <button type="button" class="btn-close" href="{% url 'piggy:del_project' project.id %}"></button>
                                </div>
                                <p class="mb-1">
                                    <small>{{ project.description }}</small>
                                </p>
                            </a>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="h5">Included teams:</td>
                <td>
                    <div class="list-group">
                        {% for team in teams %}
                            <a class="list-group-item list-group-item-action" href="{% url 'piggy:team_detail' team.id %}">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">
                                        {{ team.name }}
                                    </h6>
                                    <button type="button" class="btn-close" href="{% url 'piggy:kick_out_team' plan.id team.id %}"></button>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary" type="=submit">Submit</button>
        <a class="btn btn-danger" href="{% url 'piggy:del_plan' plan.id %}">Delete Plan</a>
        <a class="btn btn-info" href="{% url 'piggy:plan_detail' plan.id %}">Back to view plan</a> 
    </fieldset>
</form>

{% endblock %}
