{% extends "piggy/base_generic.html" %}

{% block title %}
    <title> {{ plan.name }} - 详情 </title>
{% endblock %}

{% block content %}
    <h1> {{ plan.name }} </h1>
    <p>
        <strong>指导教师：</strong>
        <a href="{% url 'piggy:teacher_detail' plan.teacher.id %}">{{ plan.teacher }}</a>
    </p>
    <p>
        <strong>是否过期：</strong>
        {% if plan.is_expired %}
            已过期
            <a href="{% url 'piggy:start_plan' plan.id %}">开始计划</a>
        {% else %}
            进行中
            <a href="{% url 'piggy:stop_plan' plan.id %}">停止计划</a>
        {% endif %}
    </p>
    <p>计划所含项目：</p>
    <ul>
        {% for project in plan.project_set.all %}
            <li><a href="{% url 'piggy:project_detail' project.id %}">{{ project.name }}</a></li>
        {% endfor %}
    </ul>
    <p>计划内小组：</p>
    <ul>
        {% for team in teams %}
            <li><a href="{% url 'piggy:team_detail' team.id %}">{{ team.name }}</a></li>
        {% endfor %}
    </ul>
    
{% endblock %}
