{% extends "piggy/base_generic_no_content.html" %}

{% block title %}
    <title> {{ team.name }} </title>
{% endblock title %}

{% block content %}
    <h1 class="h1"> {{ team.name }} </h1>
    <!-- <p> {{ team.name }} belongs to {{ team.project_group }}</p> -->
    <div class="d-grid gap-2">
        <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseChosen" role="button" aria-expanded="true" aria-controls="collapseChosen">
            <h3 class="h3"> Chosen Project </h3>
        </a>
    </div>

    <div class="collapse show" id="collapseChosen">
        <div class="card card-body">
                <p> {{ team.name }} has project 
                    <a href="{% url 'piggy:project_detail' team.project.id %}" >{{ team.project.name }}</a>
                    in 
                    <a href="{% url 'piggy:plan_detail' team.project_group.id %}"> {{ team.project_group.name }} </a>
                    directed by Prof 
                    <a href="{% url 'piggy:teacher_detail' team.project_group.teacher.id %}">{{ team.project_group.teacher.name }}</a>
                </p>
        </div>
    </div>
    <br>
    <div class="d-grid gap-2">
        <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseMember" role="button" aria-expanded="true" aria-controls="collapseMember">
            <h3 class="h3"> Team Member </h3>
        </a>
    </div>
    <div class="collapse show" id="collapseMember">
        <div class="card card-body">
            <!-- <p> {{ team.name }} has team members below:</p> -->
            <ul>
                {% for member in team.members.all %}
                <li class="list-group-item list-group-item-action fw-bold"> {{ member }} </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
    <a class="btn btn-info" href="{% url 'piggy:team_wish' team.id %}">Team Wishes</a>
    {% if role == 'Student' %}
        <a class="btn btn-success" href="{% url 'piggy:join_team' team.id %}">Join Team</a>
        <a class="btn btn-danger" href="{% url 'piggy:quit_team' team.id %}">Quit Team</a>
    {% endif %}
{% endblock content %}