{% extends "piggy/base_generic_no_content.html" %}

{% block title %}
    <title>Team {{team.name}}'s Wishes</title>
{% endblock title %}

{% block content %}
    <h1>Team {{team.name}}'s Wishes</h1>
    <p>Your current choices:</p>
    <ol>
    {% for wish in wishlist %}
        <li>{{wish}}</li>
    {% endfor %}
    </ol>
    <p>We're happy to know you wishes.</p>
    <form action="{% url 'piggy:team_wish' team.id %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>选择志愿</legend>
        {% for i in num_range %}
            <h5 class="h5">志愿 #{{i}}：</h5>
            <select class="form-select" name="wish{{i}}">
            {% for choice in choices.all %}
                <option value="{{choice.id}}">{{choice.name}}</option>
            {% endfor %}
            </select>
            <br/>
        {% endfor %}
            <p><em>注：数字越小，优先级越大</em></p>
            <button class="btn btn-primary" type="submit">Submit</button>
        </fieldset>
    </form>
{% endblock content %}
