{% block title %}
    <title>Team '{{team.name}}''s Wishes</title>
{% endblock title %}

{% block content %}
    <h1>Team '{{team.name}}''s Wishes</h1>
    <p>Your current choices:</p>
    <ol style="type: '1';">
    {% for wish in wishlist %}
        <li>{{wish}}</li>
    {% endfor %}
    </ol>
    <p>We're happy to know you wishes.</p>
    <form action="{% url 'piggy:team_wish' team.id %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>选择志愿</legend>
        {% for i in num_range %}
            <label>志愿 #{{i}}：</label>
            <select name="wish{{i}}">
            {% for choice in choices.all %}
                <option value="{{choice.id}}">{{choice.name}}</option>
            {% endfor %}
            </select>
            <br/>
        {% endfor %}
            <p><em>注：数字越小，优先级越大</em></p>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
{% endblock content %}
