<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表格标签的介绍</title>
</head>

<body>
    <h1>请快乐的填报志愿！</h1>
    <form action="method.php" method="POST" name="name1" target="_self">
        <legend><h1>填吧</h1></legend>
        
        请选择第一志愿：
        <select>
            {% for wish in wish_set.all %}
            <option>{{ wish.name }}</option>
        {% endfor %}
        </select><br/>
        请选择第二志愿：
        <select>
            {% for wish in wish_set.all %}
                    <option>{{ wish.name }}</option>
                {% endfor %}
        </select><br/>
        请选择第三志愿：
        <select>
            
                {% for wish in wish_set.all %}
                    <option>{{ wish.name }}</option>
                {% endfor %}
            
        </select><br/>
        <input type="submit" value="Vote">

    </form>
</body>

</html>